{% extends "basic.html" %}

{% block content %}

<style>
      .zatemnenie {
        background: rgba(102, 102, 102, 0.0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

      }
      .zatemnenie:target {display: block;}
      .close {
        display: inline-block;

        cursor:pointer;
      }
      .close:hover {}
    </style>


<div class="row mt">

          <div class="col-md-12">
            <div class="content-panel">
<table class="table">
    <tr>
        <th>
              <form action="{{ url_for('worker_add') }}" method="post" >

                <button type="submit" class="btn btn-theme02"><i class="fa fa-check"></i> Добавить</button>
              </form>
  </th>
        <th>
<div style="text-align: right;" class="dataTables_filter" id="hidden-table-info_filter">
                    <label>
                        <input class="form-control" type="text" placeholder="Поиск"
                               id="search-text" aria-controls="hidden-table-info" onkeyup="tableSearch()">
                    </label></div>
</th> </tr>
</table>
                <hr>
              <table id="info-table" class="table table-striped table-advance table-hover">


                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> №</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Фамилия</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Имя</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Отчество</th>
                    <th><i class="fa fa-bookmark"></i> E-mail</th>
                    <th><i class=" fa fa-edit"></i> Активность</th>
                    <th><i class=" fa fa-edit"></i> Редактирование</th>
                    <th><i class=" fa fa-edit"></i> Удаление</th>

                  </tr>
                </thead>
                <tbody>
                 {% for w in workers %}
                <div class="zatemnenie custom-box " id="zatemnenie{{ w.id }}" >
                    <div  id="okno" >


                        <div class="servicetitle" style="background: white; padding: 20px;box-shadow: 0 0 5px 2px;" >
                            <h3>Внимание!</h3>
                            <hr>


                    <h5>Вы уверены что хотите удалить запись?</h5>

                    <form action="{{ url_for('delete') }}" method="post">
                        <input type="hidden" name="id" value="{{ w.id }}">
                        <input type="hidden" name="redirect" value="worker">
                        <input type="hidden" name="tablename" value="worker">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                      </form>

                    <a class="close btn btn-primary" href="#">Отмена</a>



</div>
                    </div>
                     </div>
                  <tr>
                    <td>
                      <a href="basic_table.html#">{{ w.id }}</a>
                    </td>
                    <td class="hidden-phone">{{ w.lastname }}</td>
                    <td class="hidden-phone">{{ w.firstname }}</td>
                    <td class="hidden-phone">{{ w.patr }}</td>
                    <td>{{ w.email }} </td>
                    <td>
                    {% if w.active %}
                    <span class="label label-success label-mini">Активен</span>
                    {% else %}
                    <span class="label label-danger label-mini">Неактивен</span>
                    {% endif %}
                    </td>
                    <td>
                <form action="{{ url_for('worker_edit') }}" method="post">
                  <input type="hidden" name="id" value="{{ w.id }}">
                  <input type="hidden" name="redirect" value="worker">
                  <input type="hidden" name="tablename" value="worker">
                      <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"> Открыть карточку</i></button>
                 </form></td>
                          <td>
                            <a class="btn btn-danger btn-xs" href="#zatemnenie{{ w.id }}"><i class="fa fa-trash-o "></i></a>
                    </td>
                  </tr>

                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
            <!-- /content-panel -->
<script>
    function tableSearch() {
    var phrase = document.getElementById('search-text');
    var table = document.getElementById('info-table');
    var regPhrase = new RegExp(phrase.value, 'i');
    var flag = false;
    for (var i = 1; i < table.rows.length; i++) {
        flag = false;
        for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
            if (flag) break;
        }
        if (flag) {
            table.rows[i].style.display = "";
        } else {
            table.rows[i].style.display = "none";
        }

    }
}
</script>
          <!-- /col-md-12 -->
        </div>
{% endblock %}