{% extends "basic.html" %}

{% block content %}


<div class="row mt">
    <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li >
                    <a  href="{{ url_for('worker_edit',id=worker.id) }}">Основная информация</a>
                  </li>
                  <li >
                    <a  href="{{ url_for('worker_card_edit',id=worker.id) }}">Личная карточка</a>
                  </li>
                  <li >
                    <a  href="{{ url_for('worker_list_edit',id=worker.id) }}">Личный листок по учету кадров</a>
                  </li>
                    </ul>
                    <ul class="nav nav-tabs nav-justified">
                    <li  >
                    <a  href="{{ url_for('assignment_and_relocation',worker_id=worker.id) }}">Назначение и перемещение</a>
                  </li>
                    <li >
                    <a  href="{{ url_for('kvalif_up',worker_id=worker.id) }}">Повышение квалификации</a>
                  </li>
                        <li >
                    <a  href="{{ url_for('retraining',worker_id=worker.id) }}">Переподготовка</a>
                  </li>
                    <li class="active">
                    <a  href="{{ url_for('vacation',worker_id=worker.id) }}">Отпуска</a>
                  </li>
                     <li>
                    <a  href="{{ url_for('vac_certification',worker_id=worker.id) }}">Аттестация</a>
                  </li>
                    </ul>

              </div>

          <style>
      .zatemnenie {
        background: rgba(102, 102, 102, 0.0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

      }
      #okno2 {
        width: 500px;
        height: 500px;
        text-align: center;
        padding: 15px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: -200px;
        left: 0;
        margin: auto;

      }
      #okno3 {
        width: 500px;
        height: 500px;
        text-align: center;
        padding: 15px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: -200px;
        left: 0;
        margin: auto;

      }
      .zatemnenie:target {display: block;}
      .close {
        display: inline-block;

        cursor:pointer;
      }
      .close:hover {}
    </style>


          <div class="col-md-12">

            <div class="content-panel">

                <div class="zatemnenie custom-box "  id="3zatemnenieADD" >

                <div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
                </div>

                    <div  id="okno3" style=" background: white; padding: 20px; box-shadow: 0 0 5px 2px;margin-bottom: 100px; overflow-x: auto;">

                        <div class="servicetitle" style="" >
                            <h3>Добавление</h3>
                            <hr>

                    <h5></h5>
<div class="content-panel" >
                    <form action="{{ url_for('vacation_save') }}"  class="form-horizontal style-form" method="post">

                        <div class="form-group">
                  <label class=" control-label">На какой период</label>
                  <div class="">
                    <input type="text" class="form-control" name="period" value="" >
                  </div>
    </div>

                        <div class="form-group">
                  <label class=" control-label">Основание</label>
                  <div class="">
                    <input type="text" class="form-control" name="osnov" value="" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">Кол-во рабочих дней</label>
                  <div class="">
                    <input type="text" class="form-control" name="kolvo_dney" value="" >
                  </div>
    </div>
            <h4>Дополнительный отпуск</h4>
                          <div class="form-group">
                  <label class=" control-label">ДОП 1</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_1" value="" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">ДОП 2</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_2" value="" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">ДОП 3</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_3" value="" >
                  </div>
    </div>
                         <div class="form-group">
                  <label class=" control-label">Итого</label>
                  <div class="">
                    <input type="text" class="form-control" name="itog" value="" >
                  </div>
    </div>

                          <div class="form-group">
                  <label class=" control-label">Всего кол-во дней отпуска</label>
                  <div class="">
                    <input type="text" class="form-control" name="vsego_dney" value="" >
                  </div>
    </div>

                        <h4>Дата</h4>
                        <div class="form-group">
        <label class="control-label">Дата начала основного и дополнительного отпуска</label>
               <div class="control-label">
                    <input class="form-control form-control-inline input-medium default-date-picker"
                           size="16" type="date" name="date_begin"  value="">
                  </div>
        </div>
  <div class="form-group">
        <label class="control-label">Дата окончания основного и дополнительного отпуска</label>
               <div class="control-label">
                    <input class="form-control form-control-inline input-medium default-date-picker"
                           size="16" type="date" name="date_end"  value="">
                  </div>
        </div>

                         <div class="form-group ">
                    <label for="agree" class="control-label col-lg-2 col-sm-3">Запись активна</label>
                    <div class="col-lg-10 col-sm-9">
                        <input type="checkbox" checked  style="width: 20px" class="checkbox form-control" id="agree" name="active">
                    </div></div>
                         <input type="hidden"  value="{{ worker.id }}" name="worker_id">
                         <input type="hidden"  value="add" name="id">


<button type="submit" class="btn btn-theme">Сохранить</button>
<a class="close btn btn-primary" href="#">Отмена</a>

</form>



    <br>

</div>
                             </div>
                    </div>
                     </div>


<a class="btn btn-theme02" href="#3zatemnenieADD"><i class="fa fa-check"></i> Добавить</a>

                <hr>
              <table class="table table-striped table-advance table-hover">


                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> №</th>

                    <th><i class="fa fa-bookmark"></i> Основание</th>
                    <th><i class="fa fa-bookmark"></i> Дата начала основного и дополнительного отпуска</th>
                    <th><i class="fa fa-bookmark"></i> Дата окончания основного и дополнительного отпуска</th>

                    <th><i class=" fa fa-edit"></i> Активность</th>
                    <th>Редактирование</th>
                    <th>Удаление</th>
                  </tr>
                </thead>
                <tbody>
                 {% for v in vacat %}
                 <div class="zatemnenie custom-box " id="zatemnenie{{ v.id }}" >
                    <div  id="okno" >


                        <div class="servicetitle" style="background: white; padding: 20px;box-shadow: 0 0 5px 2px;" >
                            <h3>Внимание!</h3>
                            <hr>

                    <h5>Вы уверены что хотите удалить запись?</h5>

                    <form action="{{ url_for('delete') }}" method="post">
                        <input type="hidden" name="id" value="{{ v.id }}">
                        <input type="hidden" name="redirect" value="vacation">
                        <input type="hidden" name="tablename" value="vacation">

                        <input type="hidden" name="worker_id" value="{{ worker.id }}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                      </form>

                    <a class="close btn btn-primary" href="#">Отмена</a>
</div>

                    </div>
                     </div>


 <div class="zatemnenie custom-box " id="2zatemnenie{{ v.id }}" style="margin-bottom: 100px" >

                    <div  id="okno2" style=" background: white; padding: 20px; box-shadow: 0 0 5px 2px;margin-bottom: 100px; overflow-x: auto;">




                        <div class="servicetitle"  >
                            <h3>Редактирование</h3>
                            <hr>

                    <h5></h5>
<div class="content-panel">
                    <form action="{{ url_for('vacation_save') }}" class="form-horizontal style-form" method="post">

                        <div class="form-group">
                  <label class=" control-label">На какой период</label>
                  <div class="">
                    <input type="text" class="form-control" name="period" value="{{ v.period }}" >
                  </div>
    </div>

                        <div class="form-group">
                  <label class=" control-label">Основание</label>
                  <div class="">
                    <input type="text" class="form-control" name="osnov" value="{{ v.osnov }}" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">Кол-во рабочих дней</label>
                  <div class="">
                    <input type="text" class="form-control" name="kolvo_dney" value="{{ v.kolvo_dney }}" >
                  </div>
    </div>
            <h4>Дополнительный отпуск</h4>
                          <div class="form-group">
                  <label class=" control-label">ДОП 1</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_1" value="{{ v.dop_1 }}" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">ДОП 2</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_2" value="{{ v.dop_2 }}" >
                  </div>
    </div>
                        <div class="form-group">
                  <label class=" control-label">ДОП 3</label>
                  <div class="">
                    <input type="text" class="form-control" name="dop_3" value="{{ v.dop_3 }}" >
                  </div>
    </div>
                         <div class="form-group">
                  <label class=" control-label">Итого</label>
                  <div class="">
                    <input type="text" class="form-control" name="itog" value="{{ v.itog }}" >
                  </div>
    </div>

                          <div class="form-group">
                  <label class=" control-label">Всего кол-во дней отпуска</label>
                  <div class="">
                    <input type="text" class="form-control" name="vsego_dney" value="{{ v.vsego_dney }}" >
                  </div>
    </div>

                        <h4>Дата</h4>
                        <div class="form-group">
        <label class="control-label">Дата начала основного и дополнительного отпуска</label>
               <div class="control-label">
                    <input class="form-control form-control-inline input-medium default-date-picker"
                           size="16" type="date" name="date_begin"  value="{{ v.date_begin }}">
                  </div>
        </div>
  <div class="form-group">
        <label class="control-label">Дата окончания основного и дополнительного отпуска</label>
               <div class="control-label">
                    <input class="form-control form-control-inline input-medium default-date-picker"
                           size="16" type="date" name="date_end"  value="{{ v.date_end }}">
                  </div>
        </div>


                         <div class="form-group ">
                    <label for="agree" class="control-label col-lg-2 col-sm-3">Запись активна</label>
                    <div class="col-lg-10 col-sm-9">

                            {% if v.active == False %}
                                <input type="checkbox"   style="width: 20px" class="checkbox form-control" id="agree" name="active">
                            {% else %}
                                <input type="checkbox" checked  style="width: 20px" class="checkbox form-control" id="agree" name="active">

                            {% endif %}


                    </div>
                  </div>
                         <input type="hidden"  value="{{ worker.id }}" name="worker_id">
                         <input type="hidden"  value="{{ v.id }}" name="id">

<button type="submit" class="btn btn-theme">Сохранить</button>
<a class="close btn btn-primary" href="#">Отмена</a>

</form>



    <br>

</div>
                             </div>
                    </div>
                     </div>
















                  <tr>
                    <td>
                      <a href="basic_table.html#">{{ v.id }}</a>
                    </td>

                    <td>{{ v.osnov }} </td>
                    <td>{{ v.date_begin }} </td>
                    <td>{{ v.date_end }} </td>

                    <td>
                    {% if v.active %}
                    <span class="label label-success label-mini">Активен</span>
                    {% else %}
                    <span class="label label-danger label-mini">Неактивен</span>
                    {% endif %}
                    </td>
                    <td>
                 <a  href="#2zatemnenie{{ v.id }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    </td>
                          <td>
                            <a class="btn btn-danger btn-xs" href="#zatemnenie{{ v.id }}"><i class="fa fa-trash-o "></i></a>
                    </td>
                  </tr>

                 {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>



{% endblock %}